<!DOCTYPE html>
<html>
<head>
    <title>Singers List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>List of Singers</h1>
    <table>
        <thead>
            <tr>
                <th>Singer's Name</th>
                <th>Singer's Id</th>
            
                <th>Picture</th>
            </tr>
        </thead>
        <tbody>
            {% for singer in singers %}
                <tr>
                    <td>{{ singer.name }}</td> 
                    <td>{{ singer.id }}</td>
                    <td>{{ singer.picture }}</td>
                    

                    
                
                      {# Replace 'email' with the actual property name in your Author entity #}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
